@(title: String)

@layouts.headerandfooter("Welcome to Play Framework") {
    
    <!DOCTYPE html>
	<html>
	<head>
		<title>Home Page</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='@routes.Assets.at("css/jquery.bxslider.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/MisEstilos.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/bootstrap.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/font-awesome.css")'>	
		<link rel='stylesheet' href='@routes.Assets.at("css/DataTable.css")'>	
	
	</head>
	<body>
	
	<!---Cuerpo -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<p class="lead"><strong>BIENVENIDO A SIMUSOFT</strong></p>				
			</div>
		</div>
	</div>	
	<!--Pie de págna-->
		
	<!-- JQuery -->
		<script src='@routes.Assets.at("js/jquery-1.11.3.min.js")'></script>
		<!-- Bootstrap -->
		<script src='@routes.Assets.at("js/bootstrap.js")'></script>	
		<!-- BXSlider -->
		<script src='@routes.Assets.at("js/jquery.bxslider.min.js")'></script>		

	</body>
	</html>

}
