@(message: String)

@main("Welcome to Play Framework") {
    
    <!DOCTYPE html>
	<html>
	<head>
		<title>Home Page</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='@routes.Assets.at("css/jquery.bxslider.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/MisEstilos.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/bootstrap.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/font-awesome.css")'>	
		<link rel='stylesheet' href='@routes.Assets.at("css/DataTable.css")'>	
	
	</head>
	<body>
	extends('layouts.headerandfooter-al-admin')

		
	section('content')

	<!---Cuerpo -->

	<main class="main">
		<div class="content" style="max-width: 100%;">
			<!-- Utilizando Bootstrap -->			
			<br/><br/>
			<div class="container">
				<div class="row">
		  			<div class="col-sm-12 withoutpadding" >
		                <img style="text-align:center;margin: 0 auto;display: block;" class="img-responsive" src="@routes.Assets.at("images/simulation.gif")"/>
		  			</div>
				</div>
			</div>			
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="header">
					  <h1 style="color:green">Bienvenido <strong>USER</strong></h1>
					  <h2 style="color:green">usted se ha logueado como <strong>administrador general</strong> del Club Pappus</h2>
					</div>
					
				</div>
			</div>			
		</div>	
		</div>		
		

		<div class="table-responsive">
		<div class="container">
			<div class="form-group">
			  		<div class="text-right">
			  			<font color="black"> 
			  				Filtra por todos los campos
			  			</font>
			  			
			  		</div>
			</div>

			<table class="table table-bordered table-hover text-center display" id="example">
						<thead class="active" data-sortable="true">
							<th><div align=center>N° DE PEDIDO</div></th>
							<th><div align=center>CLIENTE</div></th>
							<th><div align=center>N° DE PAQUETES</div></th>
							<th><div align=center>ESTADO</div></th>							
							<th><div align=center>DETALLE</div></th>
							<th><div align=center>EDITAR</div></th>
							<th><div align=center>ELIMINAR</div></th>
						</thead>

												
						<tbody>
						
							<tr>
								<td>1</td>
								<td>Marcelo Milera</td>
								<td>10</td>			
								<td>En espera</td>
								<td>
					              <a class="btn btn-info"  title="Detalle" ><i class="glyphicon glyphicon-list-alt"></i></a>
					            </td>
								<td>
					              <a class="btn btn-info"  title="Editar" ><i class="glyphicon glyphicon-pencil"></i></a>
					            </td>
					            <td>
					              <a class="btn btn-info"  title="Eliminar"><i class="glyphicon glyphicon-remove"></i></a>    
					            </td>
				            </tr>
							<tr>
								<td>2</td>
								<td>Sebastian</td>
								<td>20</td>			
								<td>En vuelo</td>
								<td>
					              <a class="btn btn-info"  title="Detalle" ><i class="glyphicon glyphicon-list-alt"></i></a>
					            </td>
								<td>
					              <a class="btn btn-info"  title="Editar" ><i class="glyphicon glyphicon-pencil"></i></a>
					            </td>
					            <td>
					              <a class="btn btn-info"  title="Eliminar"><i class="glyphicon glyphicon-remove"></i></a>    
					            </td>
				            </tr>
				            <tr>
								<td>3</td>
								<td>José Luis Gil</td>
								<td>2</td>			
								<td>En espera</td>
								<td>
					              <a class="btn btn-info"  title="Detalle" ><i class="glyphicon glyphicon-list-alt"></i></a>
					            </td>
								<td>
					              <a class="btn btn-info"  title="Editar" ><i class="glyphicon glyphicon-pencil"></i></a>
					            </td>
					            <td>
					              <a class="btn btn-info"  title="Eliminar"><i class="glyphicon glyphicon-remove"></i></a>    
					            </td>
				            </tr>
				            <tr>
								<td>4</td>
								<td>Nilton Guerra</td>
								<td>10</td>			
								<td>En espera</td>
								<td>
					              <a class="btn btn-info"  title="Detalle" ><i class="glyphicon glyphicon-list-alt"></i></a>
					            </td>
								<td>
					              <a class="btn btn-info"  title="Editar" ><i class="glyphicon glyphicon-pencil"></i></a>
					            </td>
					            <td>
					              <a class="btn btn-info"  title="Eliminar"><i class="glyphicon glyphicon-remove"></i></a>    
					            </td>
				            </tr>
						</tbody>												
				</table>
			</div>		
		</div>
	</main>

	<!--Pie de págna-->
		
	<!-- JQuery -->
		<script src='@routes.Assets.at("js/jquery-1.11.3.min.js")'></script>
		<!-- Bootstrap -->
		<script src='@routes.Assets.at("js/bootstrap.js")'></script>	
		<!-- BXSlider -->
		<script src='@routes.Assets.at("js/jquery.bxslider.min.js")'></script>		
		<!-- Mis Scripts -->
		<script src='@routes.Assets.at("js/MisScripts.js")'></script>

		<script src='@routes.Assets.at("js/jquery.dataTables.js")'></script>
		
		<script>
		$(document).ready(function() {
		   $('#example').DataTable( {
		       "language": {
		           "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
		       }
		  	});
  		});
		</script>
	</body>
	</html>

}
