@(title: String)

@layouts.headerandfooter("Welcome to Play Framework") {
    
    <!DOCTYPE html>
	<html>
	<head>
		<title>Home Page</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='@routes.Assets.at("css/jquery.bxslider.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/MisEstilos.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/bootstrap.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/font-awesome.css")'>	
		<link rel='stylesheet' href='@routes.Assets.at("css/DataTable.css")'>	
	
	</head>
	<body>
	

	<!---Cuerpo -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<p class="lead"><strong>SIMULACIÓN</strong></p>				
			</div>
		</div>
	</div>

	<div class="content" style="max-width: 100%;">
		<!-- Utilizando Bootstrap -->			
		<br/>
		<div class="container">
			<div class="row">
	  			<div class="col-sm-12 withoutpadding" >
	                <img style="text-align:center;margin: 0 auto;display: block;" class="img-responsive" src="@routes.Assets.at("images/simulation.gif")"/>
	  			</div>
			</div>
		</div>			

		<br/><br/><br/>
		<div class="container">
			<div class="btn-group btn-group-justified">
				<a type="button" class="btn btn-primary">Iniciar</a>
				<a type="button" class="btn btn-primary">Ver Resultados</a>				
				<div class="btn-group">
					<select class="form-control" id="sel1" >
						<option>Duración de la Simulación</option>
						<option>20 min.</option>
						<option>1 hora</option>
						<option>3 horas</option>
						<option>Indefinido</option>
					</select>
				</div>
			</div>
		</div>		
	</div>		
	

	<!--Pie de págna-->
		
	<!-- JQuery -->
		<script src='@routes.Assets.at("js/jquery-1.11.3.min.js")'></script>
		<!-- Bootstrap -->
		<script src='@routes.Assets.at("js/bootstrap.js")'></script>	
		<!-- BXSlider -->
		<script src='@routes.Assets.at("js/jquery.bxslider.min.js")'></script>		
		<!-- Mis Scripts -->
		<script src='@routes.Assets.at("js/MisScripts.js")'></script>

		<script src='@routes.Assets.at("js/jquery.dataTables.js")'></script>
		
		<script>
		$(document).ready(function() {
		   $('#example').DataTable( {
		       "language": {
		           "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
		       }
		  	});
  		});
		</script>
	</body>
	</html>

}
